.home-page {
  .home-main-logo {
    width: 100%;
    height: 20%;
    background: #07b395;

    img {
      width: 100%;
      height: 20%;
    }
  }

  .car-brands {
    width: 100%;
    max-width: 1200px;
    margin: 15px auto;

    &__input-find-car {
      display: flex;
      justify-content: center;

      .btn-search {
        width: 100px;
        margin-left: 25px;
        -webkit-box-shadow: 1px 22px 24px -10px rgba(0, 0, 0, 0.4);
        box-shadow: 1px 22px 24px -10px rgba(0, 0, 0, 0.4);
      }

      .input-search {
        -webkit-box-shadow: 1px 22px 24px -10px rgba(0, 0, 0, 0.4);
        box-shadow: 1px 22px 24px -10px rgba(0, 0, 0, 0.4);
        width: 50%;

      }
    }

    &__all-brands {
      margin-top: 30px;

      .all-brands-title {
        font-size: 35px;
        text-align: center;
      }

    }
  }

  .profitable-offers {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    &__title {
      text-align: center;
      font-size: 35px;
    }

    &__items {
      display: flex;
      width: 100%;
      justify-content: space-between;

      .offer-item {
        width: 255px;
        height: 350px;
        background: #07b395;
        border: 1px solid #06725e;

      }
    }


  }

  .test-drive-registration {
    width: 100%;
    max-width: 1200px;
    margin: 25px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .active-block {
      display: flex;
      flex-direction: column;
      flex: 1;

      &__title {
        font-size: 25px;
        text-align: center;
      }

      &__pluses {
        margin-top: 25px;

        .pluses-items {
          padding: 0;

          li {
            margin-top: 20px;
            list-style-type: none;
            font-size: 22px;

            span {
              margin-left: 25px;
            }
          }

        }
      }

      .btn-sign-up {
        margin-top: 15px;
        width: 120px;
        margin-left: 300px;
      }
    }

    .img-test-drive {
      background: #07b395;
      width: 440px;
      height: 300px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .new-staff {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    &__title {
      &__big {
        font-size: 35px;
        text-align: center;
      }

      &__small {
        font-size: 25px;
        text-align: center;
      }
    }

    &__block {
      margin-top: 25px;

      &__row {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;

        &__item {
          width: 220px;
          height: 350px;
          background: #07b395;
          border: 1px solid #027563;
        }
      }


    }
  }
}