.my-account-diary {
  width: 100%;
  &__title {
    font-size: 36px;
  }
  &__info {
    display: flex;
    width: 100%;
    justify-content: center;
    &__column {
      margin-right: 15px;
      &__item {
        .calender {
          display: block;
        }
      }
    }

  }
}