.customize-chart {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  &__row {
    display: flex;

    button {
      margin-top: 15px;
    }

    &__chart {
      width: 400px;
      height: 600px;
    }
  }
}