.my-account {
  width: 100%;
  max-width: 1200px;
  margin: 30px auto;
  display: flex;


  &__nav-icons {
    display: flex;
    flex-direction: column;

    .nav-item {
      margin-bottom: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .nav-name {
        font-size: 14px;
      }
      .icon-item {
        font-size: 70px;
        color: #158a76;
        &:hover {
          color: #00473c;
          cursor: pointer;
        }
      }
    }


  }

}

.text-data {
  font-size: 16px;
}

.title-active {
  color: #158a76;
  border-bottom: 2px solid #0f6957;
}

.ant-tabs-tab-btn {
  color: #158a76;
}


.ant-tabs-ink-bar {
  background: #158a76;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #027563;
  font-weight: 500;
}

.zzz {
  color: black;
}