.login-in {
    display: flex;
    margin: 15% auto;
    justify-content: center;
    &__form {
        width: 50%;
    }
}

.ant-checkbox-checked .ant-checkbox-inner {
    background: #07b395;
    border-color: #0f6957;
}

.button-block {
    display: flex;
}

.btn-new-acc {
    margin-left: 15px;
}

