.auto-item {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #cfcfcf;
    border-radius: 10px;
    h2 {
      font-size: 35px;
    }
    &__img-auto {
      width: 600px;
      height: 350px;
    }
  }
  &__markup {
    display: flex;
    &__column {
      display: flex;
      flex-direction: column;
      .engine-type {
        display: block;
        font-size: 18px;
        font-weight: bold;
        margin-top: 15px;
      }
      .engine-description {
        display: block;
        margin-top: 15px;
      }
      .btn-sign-up{
        margin-top: 15px;
        height: 50px;
        color: white;
      }
      &__row {
        display: flex;
        margin-top: 15px;
        &__c {
          margin-left: 30px;
          &__title {
            font-size: 18px;
            font-weight: bold;
          }
          &__block-info {
            margin-top: 15px;
            .block-name {
              display: block;
            }
            .block-description {
              display: block;
            }
          }
        }
        &__rate {
          margin-left: 15px;
          &__title {
            font-size: 18px;
            font-weight: bold;
          }
        }
      }
    }
  }

}